<div class="container">
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="field">
      <label for="email" class="label">Enter Email</label>
      <input
        type="email"
        pattern=".+@.+\..+"
        name="email"
        required
        [(ngModel)]="email"
        #emailControl="ngModel"
        class="input"
        [ngClass]="{
          'is-danger': emailControl.invalid && emailControl.touched
        }"
      />

      <ng-container *ngIf="emailControl.invalid && emailControl.touched"
        ><div class="help is-danger" *ngIf="emailControl.errors?.['required']">
          You must enter email
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors?.['pattern']">
          Please enter a valid pattern
        </div>
      </ng-container>
    </div>
    <button [disabled]="emailForm.invalid" class="button is-primary">
      Submit
    </button>
  </form>
  <hr />
  <div>Is form valid: {{ emailForm.valid }}</div>
  <div>Form values: {{ emailForm.value | json }}</div>
</div>
